.h-screen {
    height: 100vh;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.mt-2 {
    margin-top: .5rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}
.object-fit-cover {
    object-fit: cover;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}